[submodule "bulge"]
	path = bulge
	url = https://github.com/OasisYiffOS/bulge
[submodule "hole"]
	path = hole
	url = https://github.com/OasisYiffOS/hole
[submodule "repo-db-generator"]
	path = repo-db-generator
	url = https://github.com/OasisYiffOS/repo-db-generator
[submodule "oasis-minimal"]
	path = oasis-minimal
	url = https://github.com/OasisYiffOS/oasis-minimal
[submodule "sheath"]
	path = sheath
	url = https://github.com/OasisYiffOS/sheath
[submodule "packages"]
	path = packages
	url = https://github.com/OasisYiffOS/packages
[submodule "oasis-packages"]
	path = oasis-packages
	url = https://github.com/OasisYiffOS/oasis-packages
